
.wrapper{
  /* background-color: #999999; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 1em;
}
.weather-wrap{
  padding-top: 8em;
}

.wrapper.week{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#weather_today{
  width: 100%;
  max-width: 60em;
  background-color: #444;
  border-radius: 30px;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 0 15px 1px #555555;
}
body.darkmode #weather_today{
  box-shadow: 0 0 15px 1px black;
}
#weather_today.detail .today{
  border-radius: 30px 30px 0 0;
}
.today{
  height: 25em;
  /* background-color: green; */
  background: linear-gradient(-70deg, #ff8345 50%, white 50%);
  display: flex;
  align-items: center;
  color: black;
  text-align: center;
  border-radius: 30px;

}
body.darkmode .today {
  background: linear-gradient(-70deg, #ff8345 50%, var(--clr-darkmode) 50%);
  color: white;
}
.today .left{
  width: 50%;
  /* background-color: blue; */
}
.today .right{
  width: 50%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.right_items{
  width: 100%;
}
.today .temperature{
  font-size: 100px;
  font-family: 'Fjalla One';
  padding: 12px;
}
.today .date{
  font-family: 'Fjalla One';
  font-size: 30px;
  letter-spacing: 1px;
  color: #bbbbbb;
  padding: 10px;
}
.today .location{
  font-size: 25px;
  font-family: 'Fjalla One';
  text-transform: uppercase;
  color: #cccccc;
  max-width: 15em;
  text-align: center;
  margin: 0 auto;
}
.today .icon{
  width: 100%;
  /* background-color: purple; */
  position: relative;
}
.today .icon img{
  width: 50%;
  display: block;
  margin: auto;
  object-fit: cover;
}
.today .discription{
  color: white;
  font-size: 30px;
  font-family: 'Fjalla One';
  text-transform: capitalize;
}
.today .wind{
  display: flex;
  color: white;
  font-size: 1.2em;
  font-family: 'Fjalla One';
  justify-content: center;
  margin-top: 1em;
}
.today .windicon{
  margin-right: 1em;
}
.today .windicon img{
  filter: invert(100%);
}
#future_days{
  display: flex;
  justify-content: space-around;
  /* background-color: #888888; */
  height: calc(var(height) - 25em);
  width: 100%;
  max-width: 60em;
  padding: 0;
  margin: 2em auto 0;
}

.wrapper section.detail-week{
  padding-top: 2em;
  background: linear-gradient(45deg, rgba(68,68,68,0.8) 0%, rgba(121, 121, 121, 0.8) 100%);
  border-radius: 2em;
  max-width: 65em;
}

#future_days.detail{
  margin-top: 1em;
}

section h2:not(.alerts h2){
  position: absolute;
  left: -999em;
}
.location{
  font-family: 'Fjalla One';
  color: white;
  text-align: center;
  font-weight: lighter;
  font-size: 2em;
}
.day{
  box-sizing: border-box;
  width: calc(100%/7 - 20px);
  padding: 20px  0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Fjalla One';
  /* background-color: #555555; */
  /* border: 1px solid white; */
  color: white;
  position: relative;
  list-style: none;
  display: inline-block;
}
.day .icon img{
  width: 100%;
  object-fit: cover;
}
.day .wind{
  margin-top: 1em;
}
.day .wind img{
  filter: invert(100%);
}

.day .wind{
  margin-bottom: 2em;
}

.day .data{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.day .data div{
  width: 80%;
  margin: 0.5em;
}
.day .data img{
  width: 20%;
  aspect-ratio: 1/1;
  object-fit: cover;
  filter: invert(100%);
}

.detail-today{
  background: linear-gradient(45deg, rgba(68,68,68,1) 0%, rgb(121, 121, 121) 100%);
  width: 100%;
  max-width: 60em;
  display: flex;
  height: 22em;
  margin: 0  auto;
  position: relative;
  font-family: 'Fjalla One';
  color: white;
}
body.darkmode .detail-today{
  background: linear-gradient(45deg, rgb(26, 26, 26) 0%, rgb(66, 66, 66) 100%);
}
.detail-today .sun{
  width: 60%;
  min-width: 25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
}
.sun .uvi{
  text-align: center;
  font-size: 1.2em;
  padding-top: 0.5em;
}
.sun .suntime{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.5em;
  margin-top: -3em;
  text-align: center;
}
.detail-today .info{
  width: 40%;
}
.detail-today .info ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
  width: 100%;
}
.detail-today .info li{
  height: 25%;
  width: 100%;
  padding: 1em 2em;
  margin: auto;
  display: flex;
  justify-content: center;
}

#sunpos{
  width: 100%;
  color: white; 
}

.info img{
  width: 3.5em;
  height: 3.5em;
  object-fit: cover;
  filter: invert(100%);
}
.info .data{
  width: 5em;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5em;
}

.hourly{
  width: 100%;
  max-width: 60em;
  margin: 0 auto;
  height: 10em;
  background-color: #ff8345;
  /* background-color: white; */
  padding: 0.5em 0.4em;
  
}
.hourly canvas{
  width: 100%;
  height: 100%;
}

.alerts{
  width: 100%;
  max-width: 60em;
  background-color: white;
  min-height: 5em;
  margin: auto;
  padding: 1em;
  font-family: sans-serif;
  border-radius: 0 0 30px 30px;
}
body.darkmode .alerts {
  background-color: var(--clr-darkmode);
  color: white;
}
.alerts h2{
  font-size: 2em;
  display: block;
  color: #ff8345;
  font-family: 'Fjalla One';
}
.alerts li{
  list-style: none;
  padding: 1em;
}
.alerts .event{
  font-size: 1.3em;
  font-weight: lighter;
  letter-spacing: 1.5px;
  margin-bottom: 0.2em;
}
.alerts .disc{
  padding-left: 1em;
  line-height: 1.3em;
  letter-spacing: 0.6px;
  color: #555;
}



.search{
  width: 100%;
  max-width: 60em;
  margin: -2em auto 2em;
  position: relative;
}
.search input{
  width: 100%;
  height: 2em;
  font-size: 1.5em;
  background-color: white;
  border-radius: 10px;
  border: 3px solid #444;  
  outline: none;
  transition: 0.3s border-color;
  padding-left: 0.5em;
}
body.darkmode .search input {
  background-color: var(--clr-darkmode);
  border-color: #808080;
  color: white;
}
.search input:focus{
  border-color: #ff8345;
}
.search span{
  right: 0.5em;
  position: absolute;
  height: 100%;
  aspect-ratio: 1/1;
  padding: 0.5em;
}
body.darkmode .search span {
  filter: invert();
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;   
  padding: 4px 0;
  margin: 0 0 10px 25px;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  text-decoration: none;
}

.ui-state-hover, .ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

.ui-helper-hidden-accessible { position: absolute; left:-999em; }

