.scene {
    margin: 40px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100vh - 10rem);
    aspect-ratio: 6/9;
    perspective: 1000px;
  }
  
  .carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  .carousel__cell {
    position: absolute;
    width: calc(100% - 20px);
    height: 100%;
    left: 10px;
    top: 10px;
    line-height: 116px;
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgb(19, 19, 19) 0%, rgba(46,46,46,1) 100%);
    border-radius: 10px;
    text-align: center;
    transition: opacity 1s;
  }
  
  .carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
  .carousel__cell:nth-child(2) { transform: rotateY( 40deg) translateZ(288px); }
  .carousel__cell:nth-child(3) { transform: rotateY( 80deg) translateZ(288px); }
  .carousel__cell:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
  .carousel__cell:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
  .carousel__cell:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
  .carousel__cell:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }
  .carousel__cell:nth-child(8) { transform: rotateY(280deg) translateZ(288px); }
  .carousel__cell:nth-child(9) { transform: rotateY(320deg) translateZ(288px); }
  
  .previous-button {
      transform: rotate(180deg) translateY(25%) translateX(25%);
      left: 0px;
  }

  .next-button {
      right: 0px;
      transform: translateY(-25%) translateX(25%);
  }

  .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    border: solid 3px rgb(19, 19, 19);
    border-radius: 100%;
    z-index: 1;
    transition: all 0.2s linear;
    background-color: rgb(46, 46, 46);
  }
  .arrow:before, .arrow:after {
    content: "";
    position: absolute;
    width: 35%;
    height: 10%;
    top: 41%;
    left: 55%;
    background: rgb(19, 19, 19);
    z-index: 2;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.2s linear;
  }
  .arrow:after {
    z-index: 3;
    top: 59%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
  .arrow:hover:after, .arrow:hover:before {
    background: #777;
  }
  .arrow:active {
    border: solid 5px #111;
  }
  .arrow:active:after, .arrow:active:before {
    background: #111;
  }